[submodule "NetsBlox"]
	path = NetsBlox
	url = https://github.com/NetsBlox/NetsBlox.git
[submodule "Snap"]
	path = Snap
	url = https://github.com/jmoenig/Snap.git
[submodule "snapCloud"]
	path = snapCloud
	url = https://github.com/bromagosa/snapCloud.git
